{% extends "UNRCE_APP/base.html" %}

{% block content %}
  <h2>Add New Project</h2>
  <form method="post">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br><br>
    
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>
    
    <label for="audience">Audience:</label>
    <select id="audience" name="audience">
      <option value="general">General</option>
      <option value="adults">Adults</option>
      <option value="tertiary">Tertiary students</option>
      <option value="high_school">High school age</option>
      <option value="primary_school">Primary School age</option>
      <option value="early_years">Early years</option>
      <option value="adults_60">Adults >60</option>
    </select><br><br>
    
    <label for="delivery_frequency">Delivery Frequency:</label>
    <select id="delivery_frequency" name="delivery_frequency">
      <option value="monthly">Monthly</option>
      <option value="quarterly">Quarterly</option>
      <option value="biannually">Biannually</option>
      <option value="annually">Annually</option>
      <option value="ongoing">Ongoing</option>
      <option value="once">Once</option>
      <option value="irregular">Opportunistic/Irregularly</option>
      <option value="on_demand">Permanent/On demand</option>
    </select><br><br>
    
    <label for="language">Language:</label>
    <input type="text" id="language" name="language"><br><br>
    
    <label for="format">Format:</label>
    <input type="text" id="format" name="format"><br><br>
    
    <label for="web_link">Web Link:</label>
    <input type="text" id="web_link" name="web_link"><br><br>
    
    <label for="policy_link">Policy Link:</label>
    <input type="text" id="policy_link" name="policy_link"><br><br>
    
    <label for="results">Results:</label>
    <textarea id="results" name="results" rows="2" cols="50"></textarea><br><br>
    
    <label for="lessons_learned">Lessons Learned:</label>
    <textarea id="lessons_learned" name="lessons_learned" rows="2" cols="50"></textarea><br><br>
    
    <label for="key_messages">Key Messages:</label>
    <input type="text" id="key_messages" name="key_messages"><br><br>
    
    <label for="relationship_to_rce_activities">Relationship to RCE Activities:</label>
    <textarea id="relationship_to_rce_activities" name="relationship_to_rce_activities" rows="2" cols="50"></textarea><br><br>
    
    <label for="funding">Funding:</label>
    <textarea id="funding" name="funding" rows="2" cols="50"></textarea><br><br>
    
    <!-- Other fields -->
    
    <input type="submit" value="Add Project">
  </form>
{% endblock %}
