{% extends "UNRCE_APP/base.html" %}

{% block content %}

<!-- edit_project.html -->
<form action="/edit" method="POST">
    <input type="hidden" id="projectId" name="projectId" value="{{ existing_project.id }}">
    
    <label for="projectName">Project Name:</label>
    <input type="text" id="projectName" name="projectName" value="{{ existing_project.name }}">
    
    <label for="description">Description:</label>
    <textarea id="description" name="description">{{ existing_project.description }}</textarea>
    
    <input type="submit" value="Update">
  </form>
  

{% endblock %}
