{% extends "UNRCE_APP/base.html" %}

{% load static %}

{% block content %}

<div class="login-container">
    <div class="login-box">
        <div class="avatar-container">
            <div class="avatar-background"></div>
            <img class="avatar-image" src="{% static 'images/Font_1._.png' %}" alt="Avatar Image">
        </div>

        <div class="login-title">Reset Password</div>

        <!-- Display the success message if available (Optional based on your logic) -->
        {% if messages %}
        {% for message in messages %}
        <div class="success-message">{{ message }}</div>
        {% endfor %}
        {% endif %}
        
        <!-- White input box for email -->
        <div class="input-container" style="margin-bottom: 0px;">
            <label for="email-input" class="input-label">Email</label>
            <input type="email" id="email-input" name="email" placeholder="Enter your email" class="email-input-box">
        </div>
        
        <div class="reset-prompt">If an account with that email exists, a password reset link has been sent to you.</div>
        <a href="/reset-password/"><button class="reset-btn" >Reset Password</button></a>

    </div>
</div>

{% endblock content %}
