{% extends "UNRCE_APP/base.html" %}

{% block content %}
<div class="centered" style="text-align:center;color:black;background-color:lightgray;margin-top: 20px;border-radius: 10px; padding: 15px;">
    <h3>Forgot Password</h3>
    <p>Input Your Email address</p>

    <form method="post">
        {% csrf_token %}
        <div style="margin-bottom: 10px;">
            <label for="email">Email Address:</label>
            <input type="email" name="email" required style="background-color:white; color:black;" />
        </div>
        <input type="submit" value="Send Email" style="color:black;">
    </form>
</div>
{% endblock content %}



