{% load static %}
<header id="navbar" class="main-header">
  <div class="grid">
    {%comment%}<img src = "{% static 'images/UNRCEWA_Logo.png' alt="UNRCE Logo" class="logo"%}">{%endcomment%}
    <img src="{% static 'images/UNRCEWA_Logo.png' alt="UNRCE Logo" class="logo round-image"%}" alt="UNRCE Logo">
    <h2 style="margin-bottom: 1rem;"> United Nations Regional Centre of Expertise, Western Australia</h2>
  </div>

  <div class="top-bar">
    <div id="navbar-bottom">
      <nav>
        <a href="/">Home</a>
        <a href="/projects"> Our Projects</a>
        <a href="/contact-us"> Contact Us</a>
      </nav>
    </div>

    <div class="horizontal-menu">
      <!-- Login/Signup/Logout -->
      {% if user.is_authenticated %}
      <!-- show log out link if user is already logged in -->
      <nav style="display: flex;">
        <a class="topright" href="{% url 'UNRCE_APP:myaccount' %}">My Account</a>
        <a href="{% url 'UNRCE_APP:create_project' %}" class="upload-btn"> Upload</a>
        <a class="topright" href="{% url 'UNRCE_APP:logout' %}">Logout</a>
      </nav>
      {% else %}
      <!-- show log in and sign up links otherwise   -->
      <nav style="display: flex;">
        <a class="topright" href="{% url 'UNRCE_APP:login' %}">Sign In</a>
        <a class="topright" href="{% url 'UNRCE_APP:signup' %}">Sign Up</a>
      </nav>
      {% endif %}
      <!-- Login/Signup/Logout -->
    </div>
  </div>
</header>