
<header style="background-color: #003087;">

  <div class="top-bar">
    <div id="navbar-bottom">
      <nav>
        <a href="/">Home</a>
        <a href="{% url 'UNRCE_APP:upload' %}" class="upload-btn"> Upload</a>
        <a href="/projects"> Our Projects</a>
        <a href="/contact-us"> Contact Us</a>
      </nav>
    <!-- This is just so that the header is centered -->


    <!-- Title -->
      <h3> United Nations Regional Centre of Expertise of Western Australia</h1>
    <!-- Title -->


    <!-- Login/Signup/Logout -->
      {% if user.is_authenticated %}
      <!-- show log out link if user is already logged in -->
      <nav style="display: flex;">
        <a class="topright" href="{% url 'UNRCE_APP:logout' %}">Logout</a>
      </nav>
      {% else %}
      <!-- show log in and sign up links otherwise   -->
      <nav style="display: flex;">
        <a class="topright" href="{% url 'UNRCE_APP:login' %}">Login</a><br>
        <a class="topright" href="{% url 'UNRCE_APP:signup' %}">Create an Account</a>
      </nav>
      {% endif %}
    <!-- Login/Signup/Logout -->
    </div>
  </div>
</header>

<header class="header-nav">
  <!-- Navigation Panel -->
  <nav>
    <a href="/">Home</a>
    <a href="/projects"> Our Projects</a>
    <a href="/contact-us"> Contact Us</a>
  </nav>
</header>
