{% extends "UNRCE_APP/base.html" %}

{% load static %}

{% block linking%}
<script src="{% static 'UNRCE_APP/refresh.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'UNRCE_APP/login.css' %}">
{%endblock linking%}


{% block content %}

<div class="login-box">

    <!-- Display the success message if available -->
    {% if messages %}
    {% for message in messages %}
    <div class="success-message">{{ message }}</div>
    {% endfor %}
    {% endif %}
    
    <form method="post" class="login-form" action="{% url 'UNRCE_APP:login' %}">
        {% csrf_token %}
        <div class="round-image-container">
            <img src="{% static 'images/UNRCEWA_Logo.png' alt="UNRCE Logo" class="logo round-image"%}" alt="UNRCE Logo" style="    height: 13vmin;
            max-height: 175px;
            opacity: 100%;">
        </div>
        <div class="login-title">Sign In</div>
        {% for field in form %}
        <div class="input-container">
            
            <label for="{{ field.auto_id }}" class="input-label">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" 
                    id="{{ field.auto_id }}"
                    name="{{ field.name }}" 
                    {% if field.field.required %} required {% endif %}
                    value="{{ field.value|default:'' }}" />
            
            {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        
        <div class="input-container">
            <label for="captcha" class="input-label">Captcha</label>
            <img id="captcha_image" src="{% url 'captcha-image' captcha_key %}" alt="Captcha" />
            <a href="#" id="refresh_captcha">Refresh Captcha</a>
            <input type="text" name="captcha_0" class="form-control" placeholder="Enter Captcha" required />
            <input type="hidden" id="captcha_key_input" name="captcha_1" value="{{ captcha_key }}" />
        </div>

        <input type="submit" value="Sign In" class="submit-button" style="color:black;">

        <!-- Forgot Password Link -->
        <a href="{% url 'UNRCE_APP:forgot_password' %}" class="forgot-password-link">Forgot your password?</a>
        
    </form>

    <div class="signup-prompt">
        <span>No account yet? </span>
        <a href="{% url 'UNRCE_APP:signup' %}">Create an account HERE</a>
    </div>

</div>

{% endblock content %}
