{% extends "UNRCE_APP/base.html" %}

{% block content %}

<style>
    .h2_account {
        font-size: larger;
    }

    .account_section {
        padding: 10px;
        margin: 10px;
    }
</style>


<!-- {% load static %} -->
<div class="container_outer">
    <div class="container_account">
        <header style="display: flex; justify-content: space-between;">
            <h2 class="h2_account"> My Account</h2>
            <a href="/myaccount_edit">
                <h2 class="h2_account"> Edit Profile Details</h2>
            </a>
        </header>
        <div style="padding:0%; margin: 0%; background-color: white; padding-top: 10px;">
            <section style="padding: 0%; margin: 0%; display:flex;">
                <div class="profile-picture">
                    <img src="{% static 'images/avatar.png' %}" alt="Profile Picture">
                </div>
                <div>
                    <p style="font-size:medium;"><span style="font-weight: bold;"> Name:</span> 
                        {% if user.name %}
                            {{ user.name }}
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p style="font-size:medium;"> <span style="font-weight: bold;"> Email:</span> {{ user.email }}</p>
                </div>
            </section>
            <!-- Organisations -->
            <section class="account_section">
                <p style="font-size:medium;"><span style="font-weight: bold;"> Organisation:</span>
                    {% if user.org %}
                        {{ user.org }}
                    {% else %}
                        -
                    {% endif %}
                    <!-- {{ user.org }} -->
                </p>
            </section>

            <!-- Role -->
            <section class="account_section">
                <p style="font-size:medium;"><span style="font-weight: bold;"> Organisation Role:</span> 
                    {% if user.role_organisation %}
                        {{ user.role_organisation }}
                    {% else %}
                        -
                    {% endif %}
                </p>
            </section>

            <!-- RCE Hub -->
            <section class="account_section">
                <p style="font-size:medium;"><span style="font-weight: bold;"> RCE Hub:</span> 
                    {% if user.rce_hub2 %}
                        {{ user.rce_hub2 }}
                    {% else %}
                        -
                    {% endif %}
                </p>
            </section>

            <!-- Emails Enabled -->
            <section class="account_section">
                <p style="font-size:medium;"><span style="font-weight: bold;"> Email notifications enabled:</span> 
                    <input type="checkbox" id="emailEnabledCheckbox" {% if user.emails_enabled %}checked{% endif %} disabled>
                </p>
            </section>
        </div>
    </div>
    <div class="projects_container" style="background-color: rgb(224, 224, 224);">
        <h2 style="text-decoration: underline;" class="h2_account"> My Projects</h2>   
        <!-- <div class="sidebar"> -->
        <div style="background-color: white;">
            {% for project in request.user.owned_projects.all %}
                <li> <a style="color: rgb(71, 71, 71);" href="{% url 'UNRCE_APP:specific_project' %}">➤{{ project.title }}</a></li>
            {% endfor %}
        </div>
        
    </div>
</div>



{% endblock content %}