
{% extends "UNRCE_APP/base.html" %}
{% block content %}
<!-- {% load static %} -->
<div class="container_outer">
    <div class="container_account">
        <header style="display: flex; justify-content: space-between;">
            <h2 class="h2_account"> My Account</h2>
            <a href="/myaccount_edit">
                <h2 class="h2_account"> Edit Profile Details</h2>
            </a>
        </header>
        <main style="padding:0%; margin: 0%;">
            <section style="padding: 0%; margin: 0%; display:flex;">
                <div class="profile-picture">
                    <img src="https://www.kindpng.com/picc/m/421-4212275_transparent-default-avatar-png-avatar-img-png-download.png" alt="Profile Picture">
                </div>
                <div>
                    <p style="font-size:medium;"><span style="font-weight: bold;"> Name:</span> 
                        {% if user.name %}
                            {{ user.name }}
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p style="font-size:medium;"> <span style="font-weight: bold;"> Email:</span> {{ user.email }}</p>
                </div>
            </section>
            <!-- Organisations -->
            <section>
                <p style="font-size:medium;"><span style="font-weight: bold;"> Organisation:</span>
                    {% if user.org %}
                        {{ user.org }}
                    {% else %}
                        -
                    {% endif %}
                    <!-- {{ user.org }} -->
                </p>
            </section>

            <!-- RCE Hub -->
            <section>
                <p style="font-size:medium;"><span style="font-weight: bold;"> RCE Hub:</span> 
                    {% if user.rce_hub2 %}
                        {{ user.rce_hub2 }}
                    {% else %}
                        -
                    {% endif %}
                </p>
            </section>

            <!-- Emails Enabled -->
            <section>
                <p style="font-size:medium;"><span style="font-weight: bold;"> Email notifications enabled:</span> 
                    <input type="checkbox" id="emailEnabledCheckbox" {% if user.emails_enabled %}checked{% endif %} disabled>
                </p>
            </section>

            <!-- SDG's Interested in -->
            <section style="padding: 0%; margin: 0%;" class="account-details">
                <p> SDG's I'm interested in</p>
                <img class="sdgs" src="{% static 'images/sdgs/1_no_poverty.png' %}">
                <img class="sdgs" src="{% static 'images/sdgs/2_zero_hunger.png' %}">
                <img class="sdgs" src="{% static 'images/sdgs/13_climate_action.jpg' %}">
                <img class="sdgs" src="{% static 'images/sdgs/14_life_below_water.jpg' %}">
            </section>
            <section style="padding: 0%; margin: 0%;" class="notification">
                <p> Emails notifications enabled?</p>
                    <!-- Emails are enabled -->
                <input type="checkbox" id="myCheckbox" name="myCheckbox" value="yes" checked disabled>
                    <!-- Emails are not enabled -->
                <!-- <input type="checkbox" id="myCheckbox" name="myCheckbox" value="yes" disabled> -->
            </section>
        </main>
    </div>
    <div class="projects_container">
        <h2 class="h2_account"> My Projects</h2>
        
        <!-- Tom's Sidebar Projects Code -->
        <div class="sidebar">
            <ul class="projects-list">
              <div class="project-listing" id="projectGrid" data-baseurl="{% url 'UNRCE_APP:specific_project' %}">
              <div class="project-box">
                <a href="{% url 'UNRCE_APP:specific_project' %}">
                    <div class="project-sidebar" onclick="goToDetails(event, this.children[0].src, this.children[1].textContent)" style="cursor:pointer;">
                        <img src="http://www.thewowstyle.com/wp-content/uploads/2015/01/nature-images..jpg" alt="Project 1" class="project-image">
                        <h4 class="project-title-sidebar"> Your Project 1 1</h4>
                    </div>
                </a>
              </div>
              <div class="project-box">
                <a href="{% url 'UNRCE_APP:specific_project' %}">
                    <div class="project-sidebar" onclick="goToDetails(event, this.children[0].src, this.children[1].textContent)" style="cursor:pointer;">
                        <img src="https://www.bwallpaperhd.com/wp-content/uploads/2021/01/NashPoint.jpg" alt="Project 2" class="project-image">
                        <h4 class="project-title-sidebar"> Your Project 2</h4>
                    </div>
                </a>
              </div>
              </div>
          </div>
    </div>
</div>



{% endblock content %}
