{% extends "UNRCE_APP/base.html" %}

{% block main_class %}
    {% if request.path == '/' %}
        landing-main
    {% else %}
        default-main
    {% endif %}
{% endblock %}

{% load static %}

{% block content %}

<div class="login-container">
    <div class="login-box">
        <div class="avatar-container">
            <div class="avatar-background"></div>
            <img class="avatar-image" src="{% static 'images/Font_1._.png' %}" alt="Avatar Image">
        </div>

        <div class="login-title">Reset Password</div>

        <!-- Input box for New Password -->
        <div class="input-container">
            <label class="input-label" for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password">
        </div>

        <!-- Input box for Retype Password -->
        <div class="input-container">
            <label class="input-label" for="retype_password">Retype Password</label>
            <input type="password" id="retype_password" name="retype_password">
        </div>

        <button class="submit-button" style="background-color:#DAAA00;">Confirm New Password</button>

    </div>
</div>

{% endblock content %}
