.login-form {
    background-color: #f0f0f0;
    padding: 1rem;
}

.login-box {
    width: fit-content;
    margin: auto;
    padding: 1rem;
    background: #003087;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.login-title
.input-label,
.signup-prompt span,
.signup-prompt a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login-title {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    margin-top: 20px;
}

.input-container {
    width: 28rem;
    margin-bottom: 1.5rem;
}

.input-label {
    color: black;
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 4px;
}

.input-container input {
    width: 100%; 
    padding: 8px 12px; /* Reduced the horizontal padding */
    border-radius: 4px;
    background-color: white;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px; 
    max-width: 500px; 
}



.submit-button {
    margin: 1rem auto;
    background-color: #ffb300;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer; /* Gives a hand cursor on hover */
}

.signup-prompt {
    text-align: center;
}

.signup-prompt span,
.signup-prompt a {
    font-size: 16px;
    font-weight: 700;
}

.signup-prompt a {
    text-decoration: underline;
}
.reset-prompt {
    text-align: center;  /* This centers the text */
    margin-top: 0px;    /* This adds some space above the element */
    margin-bottom: 10px; /* This adds some space below the element */
    color: white;        /* Assuming you want the text to be white like other text in the login box */
    width: 75%;         /* This ensures it spans the full width of the container */
}

.errorlist{
    color: red;
    list-style-type: none;
    padding: 1rem;
}