.login-form {
    padding: 2vw;
    margin: 1vw;
    align-items: center;
    border-radius: 4px;
    color: var(--text) !important;
}

.login-form a {
    color: var(--text) !important;
}

.login-box {
    width: fit-content;
    margin: auto;
    padding: 1vw;
    background: #003087;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.login-title
.input-label,
.signup-prompt span,
.signup-prompt a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--text);
}

.input-container {
    width: 28rem;
    margin-bottom: 1.5rem;
}

.input-label {
    color: var(--text);
    font-weight: 500;
    display: block;
    text-align: left;
    font-size: inherit;
    margin-bottom: 4px;
}

.input-container input {
    width: 100%; 
    padding: 8px 12px; /* Reduced the horizontal padding */
    border-radius: 4px;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px; 
    max-width: 500px; 
}

.submit-button {
    margin: 1rem auto;
    background-color: #ffb300;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 2rem 0.5rem 2rem!important;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer; /* Gives a hand cursor on hover */
}

.signup-prompt {
    text-align: center;
}

.signup-prompt span,
.signup-prompt a {
    font-size: 16px;
    font-weight: 700;
}

.signup-prompt a {
    text-decoration: underline;
    color: var(--text);
}
.reset-prompt {
    text-align: center;  /* This centers the text */
    margin-top: 0px;    /* This adds some space above the element */
    margin-bottom: 10px; /* This adds some space below the element */
    color: white;        /* Assuming you want the text to be white like other text in the login box */
    width: 75%;         /* This ensures it spans the full width of the container */
}

.errorlist{
    color: red;
    list-style-type: none;
    padding: 1rem;
}

.round-image-container {
    width: 15vmin; /* Set the width and height to define the size of the circle */
    max-width: 200px;
    height: 15vmin;
    max-height: 200px;
    background-color: var(--text); /* Set the background color to blue */
    border-radius: 50%; /* Make the container circular */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide any overflow of the image */
}

/* Style for the image */
.round-image {
    max-width: 100%; /* Ensure the image doesn't exceed the container */
    max-height: 100%;
    border-radius: 50%; /* Make the image circular to match the container */
    object-fit: cover; /* Fit the image within the container */
}