
.information {
    background-color: #f1f1f1;
    padding: 4rem;
    width: 80vmin;
    min-height: 60vmin;
    min-width: 50vw;
    border-radius: 10px;
}

.image {
    width: 60vmin;
    max-width: 60%;
    object-fit: cover;
    margin-right: 1em;
    height: 100%;
}
#projectTitle{
    margin-bottom: 1rem;    
    margin-top: 0%;
    white-space: nowrap;
}
h5{
    margin-top: 2px;
    margin-bottom: 10px;
}
.project-container {
    width: 100%;
    height: 100%;
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.region {
    font-size: small;
    line-height: 0.1; /* Ensure the text takes up its natural space without added spacing */
    height: auto; /* Let the height be determined by content and padding */
    width: 80%;
    color: black;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 4px 10px; /* Adjust vertical padding */
    text-align: left;
    display: inline-flex; /* This will help in vertically centering the content */
    align-items: center; /* Vertically center the content */
}

.region-container {
    margin: 0.5rem;
    display: table-row;
}
.region-title{
    padding-right: 1em;
    font-size: 1vw;
}
.region-title, .region{
    display: table-cell;
}
.project-details {
    flex: 1; /* Allow the details to expand and take available space */
    display: flex;
    flex-direction: column; /* Stack child items vertically */
    justify-content: flex-end;
}

.info-container {
    font-size: 1vw;
    border: 1px solid lightgray;
    border-radius: 10px;
    color: black;
    padding: 20px;
    padding: 1em;
    max-width: 100%;
}

.project-title, .edit-project-details, .project-details, .region-label, .orgs-label, .project-desc, .language-label, .audience-label, .sdg-label {
    text-transform: capitalize;
    word-wrap: break-word;
}
.project-title, .region-label, .orgs-label, .language-label, .audience-label, .sdg-label {
    font-weight: 700;
}
.edit-project-details, .project-desc {
    font-weight: 500;
}

.edit-project-details, .region-label, .orgs-label, .language-label, .audience-label, .sdg-label {
    font-size: 20px;
}
.project-desc, .audience-item, .frequency-item, .sdg-item {
    font-size: 1em;
    font-weight: 600;
}
/* Positioning and colors */
.project-title {
    width: 268px;
    height: 45px;
    left: 50px;
    top: 213px;
    position: absolute;
    color: black;
}
.edit-project-details {
    width: 173px;
    height: 45px;
    left: 913px;
    top: 209px;
    position: absolute;
    color: #020057;
}
.white-box {
    background: white;
}
/* Sustainable Development Goals styles */
.sdg {
    width: 187px;
    height: 36px;
    border-radius: 50px;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.no-poverty {
    background: #FF3434;
    left: 92px;
    top: 1536px;
}
.zero-hunger {
    background: #F19744;
    left: 301px;
    top: 1536px;
}
/* Placeholder Image */
.placeholder-img {
    width: 586px;
    height: 112px;
    left: 93px;
    top: 1399px;
    position: absolute;
}
.project-sidebar {
    display: flex;
    align-items: center;
    margin-left: 0;     /* Ensure no left margin on the project listing */
    text-decoration: none;
    color: inherit;
}

.project-image {
    width: 10vw;
    height: 8vw;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0;     /* Ensure no left margin on the image */
    padding-left: 0;    /* Ensure there's no padding on the left */
}

.project-title-sidebar {
    font-size: large;
    margin-left: 0;     /* Ensure no left margin on the title */
    color: black;
}
.projectTitle{
    color:black;
}

.project-details h2 {
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.project-details h3{
    font-size: 1.2vw;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.project-details h4{
    font-size: 1vw;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.project-details h5, 
.region-title {
    font-size: 0.8vw !important;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.project-details p,
.region p {
    font-size: 0.8vw;
    font-weight: 500;
}

