*{
    font-family: "Century Gothic", sans-serif;
}
.centered{
    text-align: center;
}



/* For the base header */
.main-header {
    display:flex;
    height: 120px;
    color: white;
    font-family: Century gothic; 
    font-weight: lighter;
    font-size: 30px;
    padding-left: 20px;
}

/* For the base header navigation bar */
.header-nav {
    background-color: #5775ac;

    padding-top: 25px;
}

.topright{
    color:white;
}

.nav-element{
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    
}
/* Small Headings, such as "Our projects" */
.small-heading {
    font-weight: bold;
    color: black;
}

/* All below is for the Projects page, making it 3x3 */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    padding: 20px;
}
/* Individual Projects in the "Our projects" Page */
.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.project img {     /* Project image */
    max-width: 100%;
    height: 120px;
}
.project h3 {       /* Project title */
    margin-top: 10px;
    font-size: 18px;
}
.project:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
/* All above is for the Projects page, making it 3x3 */

.footer {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: space-between; /* Spreads out the items */
    padding: 10px; /* Padding around the footer content */
    height: 110px; /* Adjust as needed */
    background-color: #003087;
    color: white;
    grid-column: 1/-1;
    font-weight: 300;
    padding-right: 60px;
}

.footer-image {
    height: 100%; /* Ensures the container takes the full height of the footer */
    flex-shrink: 0; /* Prevents the image container from shrinking */
}

.footer-logo {
    height: 100%; /* Makes sure the image takes up the entire height of its container */
    display: block; /* Removes any gaps below the image */
}

.footer h5 {
    margin: 0 10px; /* Spacing between the items. Adjust as needed */
}


